@charset "UTF-8";
.newsList .siteMain .contentBox {
  padding-top: 0 !important;
  position: relative;
  border: none !important;
}
.newsList .siteMain .contentBox::before {
  content: '';
  background: #ececec;
  position: absolute;
  background: url('../images/index/abg.png') top right no-repeat;
  background-size: contain;
  display: block;
  z-index: 1;
  top: 0;
  bottom: 0;
  right: 8%;
  width: 22%;
  pointer-events: none;
}
.newsList .siteMain .contentBox .listBox {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}
.newsList .siteMain .contentBox .listBox .item {
  width: 100%;
  border: #aaaaaa 1px dashed;
  border-bottom: none;
}
.newsList .siteMain .contentBox .listBox .item:last-child {
  border-bottom: #aaaaaa 1px dashed;
}
.newsList .siteMain .contentBox .listBox .item:hover .pic {
  transform: translate(-5px, -5px);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}
.newsList .siteMain .contentBox .listBox .item:hover .pic img {
  transform: scale(1.5);
}
.newsList .siteMain .contentBox .listBox .item:hover .title {
  color: #f47121;
}
.newsList .siteMain .contentBox .listBox a {
  display: flex;
  align-items: center;
  position: relative;
  padding: 60px;
  gap: 50px;
}
@media screen and (max-width: 1000px) {
  .newsList .siteMain .contentBox .listBox a {
    padding: 30px;
  }
}
@media screen and (max-width: 767px) {
  .newsList .siteMain .contentBox .listBox a {
    flex-direction: column;
    gap: 20px;
  }
}
.newsList .siteMain .contentBox .listBox .pic {
  overflow: hidden;
  max-width: 300px;
  aspect-ratio: 10/7;
  transition: all 0.3s ease;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0);
}
.newsList .siteMain .contentBox .listBox .pic img {
  -o-object-fit: cover;
  object-fit: cover;
  transition: all 25s ease;
}
.newsList .siteMain .contentBox .listBox .title {
  padding-right: 50px;
  color: #1f1f1f;
  font-size: var(--clamp24);
  font-family: 'Noto Serif TC', 'Noto Sans TC', Arial, '微軟正黑體', 'Microsoft JhengHei', '蘋果儷中黑', 'Apple LiGothic Medium', sans-serif;
  line-height: 1.4;
  margin-bottom: 20px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  transition: all 0.3s ease;
}
@media screen and (max-width: 767px) {
  .newsList .siteMain .contentBox .listBox .title {
    padding-right: var(--contentPadding);
  }
}
.newsList .siteMain .contentBox .listBox .description {
  padding-right: 50px;
  color: #525252;
  font-size: var(--clamp18);
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
@media screen and (max-width: 767px) {
  .newsList .siteMain .contentBox .listBox .description {
    padding-right: var(--contentPadding);
  }
}
.newsList .siteMain .contentBox .listBox .timeBox {
  width: 136px;
  color: #000;
  font-size: 13px;
  font-weight: 600;
  padding-bottom: 10px;
  margin: 0 0 0 auto;
  font-family: 'Lato', 'Noto Sans TC', Arial, '微軟正黑體', 'Microsoft JhengHei', '蘋果儷中黑', 'Apple LiGothic Medium', sans-serif;
  position: relative;
  flex-shrink: 0;
}
@media screen and (max-width: 767px) {
  .newsList .siteMain .contentBox .listBox .timeBox {
    margin: 0 auto;
  }
}
.newsList .siteMain .contentBox .listBox .timeBox::before {
  content: '';
  width: 2px;
  height: 2px;
  background: #2c3134;
  border-radius: 50%;
  box-shadow: 12px 0 0 #2c3134, 24px 0 0 #2c3134, 36px 0 0 #2c3134, 49px 0 0 #2c3134, 62px 0 0 #2c3134, 75px 0 0 #2c3134, 88px 0 0 #2c3134, 100px 0 0 #2c3134, 113px 0 0 #2c3134;
  position: absolute;
  bottom: 0;
  left: 11px;
  display: block;
}
.newsList .siteMain .contentBox .listBox .timeBox .y {
  color: #2d3135;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.newsList .siteMain .contentBox .listBox .timeBox .y::before {
  content: '';
  width: 2px;
  height: 2px;
  background: #2c3134;
  border-radius: 50%;
  box-shadow: 12px 0 0 #2c3134, 24px 0 0 #2c3134;
}
.newsList .siteMain .contentBox .listBox .timeBox .y::after {
  content: '';
  width: 2px;
  height: 2px;
  background: #2c3134;
  border-radius: 50%;
  box-shadow: -12px 0 0 #2c3134, -24px 0 0 #2c3134;
}
.newsList .siteMain .contentBox .listBox .timeBox .d {
  font-size: var(--clamp42);
  line-height: 1.2;
  color: #2d3135;
  display: flex;
  align-items: center;
  justify-content: center;
}

.newsDetail {
  position: relative;
}
.newsDetail::before {
  content: '';
  background: #ececec;
  position: fixed;
  background: url('../images/index/abg.png') top right no-repeat;
  background-size: contain;
  display: block;
  z-index: 1;
  top: 0;
  bottom: 0;
  right: 8%;
  width: 30%;
  max-width: 560px;
  pointer-events: none;
}
.newsDetail .contentBox .editorOuter {
  position: relative;
  isolation: isolate;
}
.newsDetail .contentBox .content {
  max-width: 1090px;
  margin: 0 auto;
}
.newsDetail .contentBox .content .editor {
  text-align: center;
}
.newsDetail .contentBox .content .editor ul li {
  width: fit-content;
  margin: 0 auto;
}
